{%extends 'base.html'%}
{%block title%} {{block.super}} | Lista meccanici {%endblock title%}

{%block content%}
   <!--Scrittura di tutti i meccanici-->
   <h1>Lista meccanici</h1>
   <ul>
      {%for m in meccanici%}
         <li>{{m}}</li>
      {%endfor%}
   </ul>
   <br>
   <hr>
   <br>
   <!--Form per l'inserimento dei meccanici-->
   <h2>Aggiungi un nuovo meccanico</h2>

   <form method="post"> <!--Quando viene cliccato il bottone salva, viene inviata una richiesta di tipo post (request.method="POST")-->
      {% csrf_token %} <!--OBBLIGATORIO-->
      
      <p>
         {{ form.nome.label_tag }}<br> <!--Genera l'etichetta Nome: -->
         {{ form.nome }} <!--Viene generato l'HTML <input type="text"> con le validazioni-->
      </p>

      <p>
         {{ form.cognome.label_tag }}<br>
         {{ form.cognome }}
      </p>
      <br>
      <button type="submit" class="btn">Salva</button> <!--Type submit dice al browser di inviare il form-->
   </form>
{%endblock content%}